@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/roboto");
* {
  margin: 0;
  font-family: "Poppins";
}

#home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#home h1 {
  color: white;
  font-size: 3vw;
}

#home h2 {
  color: white;
  font-size: 3vw;
  font-weight: 600;
}

#home h3 {
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
}

.aa {
  color: white;
  font-size: 2.2vw;
  font-weight: 800;
  text-decoration: none;
}

#home a {
  cursor: pointer;
}

#home a, h1, h2, h3 {
  animation: anim3 1900ms, anim 500ms 1900ms;
}

@-webkit-keyframes anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim2 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes anim3 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.purple a {
  margin-top: 5vh;
  border: 0.19vw solid white;
  font-size: 1.3vw;
  border-radius: 20vw;
  padding: 2vh 1.2vw 2vh 1vw;
}

.purple a:hover {
  background-color: rgba(255, 255, 255, 0.464);
}

.part2 {
  display: flex;
  flex-direction: column;
}

.purple {
  background: linear-gradient(0deg, rgba(207, 40, 40, 0.751) 0%, rgba(208, 41, 122, 0.827) 50%), url(../img/red.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim 300ms 0s;
}

.blue {
  background: linear-gradient(0deg, rgba(34, 47, 195, 0.751) 0%, rgba(45, 184, 253, 0.827) 50%), url(../img/blue.jpg);
  background-size: cover;
  height: 50%;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 300ms 0s, anim2 300ms 300ms;
}

.red {
  background: linear-gradient(0deg, rgba(41, 204, 136, 0.827) 0%, rgba(11, 176, 38, 0.855) 50%), url(../img/green.jpg);

  background-size: cover;
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 600ms 0s, anim 300ms 600ms;
}

.green {
  background: linear-gradient(0deg, #c71212 0%, #c70e0ec6 50%), url(../img/pink.jpg);

  background-size: cover;
  height: 50%;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 900ms 0s, anim2 300ms 900ms;
}

.pink {
  background-image: linear-gradient(0deg, rgba(195, 34, 195, 0.904) 0%, rgba(135, 45, 253, 0.904) 50%), url(../img/purple.jpg);
  
  background-size: cover;
  width: 50%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1200ms 0s, anim 300ms 1200ms;
}

.grey {
  background: linear-gradient(0deg, rgba(68, 70, 70, 0.785) 0%, rgba(105, 87, 93, 0.801) 100%), url(../img/grey.jpg);
  background-size: cover;
  height: 50%;
  min-width: 12.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1500ms, anim2 300ms 1500ms;
}

.yellow {
  background: linear-gradient(0deg, rgba(191, 235, 70, 0.863) 0%, rgba(209, 231, 19, 0.77) 100%), url(../img/yellow.jpg);
  background-size: cover;
  height: 50%;
  min-width: 12.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1800ms, anim 300ms 1800ms;
}

.part3 {
  display: flex;
  flex-direction: row;
}

.part4 {
  display: flex;
  flex-direction: column;
}

.part5 {
  display: flex;
  flex-direction: row;
}

.part6 {
  display: flex;
  flex-direction: column;
}

.aa img {
  width: 1.7vw;
}

#propos {
  background: linear-gradient(0deg, rgba(34, 47, 195, 0.751) 0%, rgba(45, 184, 253, 0.827) 50%), url(../img/blue.jpg);
  background-size: cover;
  display: none;
  flex-direction: column;
  height: 100vh;
  
}

#propos a {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu p:hover {
  color: #00a5dc;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar p:hover {
  color: rgba(45, 184, 253, 0.827);
  background-color: white;
}

.actiff p {
  color: rgba(45, 184, 253, 0.827);
  background-color: white;
}

.centre {
  height: 90vw;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  gap: 3vw;
}

.gti {
  width: 30%;
}

.gti img  {
  width: 100%;

}

.dti {
  width: 70%;
}

.dti p {
  color: white;
  font-size: 1.5vw;
}

.paginator {

  display: flex;
  flex-direction: row;
}

.paginator p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator p:hover {
  color: #00a5dc;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

#projet {
  background: linear-gradient(0deg, rgba(41, 204, 136, 0.827) 0%, rgba(11, 176, 38, 0.855) 50%), url(../img/green.jpg);
  background-size: cover;
  display: none;
  flex-direction: column;
  height: 100vh;
}

#projet a {
  text-decoration: none;
  cursor: pointer;
}

.nav1 {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu1 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu1 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu1 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar1 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar1 p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  background-color: white;
}



.jepro{
  height: 90vw;
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 3vw;
  margin-bottom: 10vw;
}

.njp p{
  width: 10vw;
  text-align: center;
  font-size: 1.4vw;
  background-color: #ffffff4f;
  padding-top: 1vw ;
  padding-bottom: 1vw ;
  padding-left: 2vw;
  font-weight: 700;
  padding-right: 2vw;
  color: #ffff;
  cursor: pointer;


}

#roro:hover {
  background-color: #ffffff1f;
}
#stella:hover {
  background-color: #ffffff1f;
}
#github:hover {
  background-color: #ffffff1f;
}
#atout:hover {
  background-color: #ffffff1f;
}
#baby:hover {
  background-color: #ffffff1f;
}
#sohbi:hover {
  background-color: #ffffff1f;
}

.ijp {

  background-color: #ffffff4f;
  padding: 3vw;
  gap: 2vw;
}

.ijp img {
  width: 50vw;
  height: 27vw;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.459);

}
.ijp p{
  font-size: 1.3vw;
  color: white;
  margin-bottom: 0.5vw;

}
.titi{
  font-size: 2vw !important;
  font-weight: 700 !important;
}

.linkk {
  text-align: center;
  margin-top: 2vw;
  font-size: 1.2vw;

}
.ijp a {

padding-left: 1vw;
padding-right: 1vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
background:  rgba(11, 176, 38, 0.855);
color: white;
}

.ijp a:hover {
  background:  rgba(11, 176, 38, 0.264);

}
#actife  {
  background-color: #ffff;
  color : #0bb026da;

 }

 #enl{
  display: flex;
  flex-direction: row;
  gap: 2vw;

 }

 #enl1{
  display: none;
}
#enl2{
  display: none;
}
#enl3{
  display: none;
}
#enl4{
  display: none;
}
#enl5{
  display: none;
}










.actiff1 p {
  color: rgba(41, 204, 136, 0.827);
  background-color: white;
}





.paginator {

  display: flex;
  flex-direction: row;
}

.paginator1 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev1 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next1 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

#skill {
  background: linear-gradient(0deg, #c71212 0%, #c70e0ec6 50%);
  background-size: cover;
  display: none;
  flex-direction: column;
  height: 100vh;
}

#skill a {
  text-decoration: none;
  cursor: pointer;
}

.nav2 {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu2 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu2 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu2 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu2 p:hover {
  color: #c71212;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar2 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar2 p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar2 p:hover {
  color:  #c71212;
  background-color: white;
}

.actiff2 p {
  color:  #c71212;
  background-color: white;
}

.skils  {
  display: grid;
grid-template-columns: repeat(5, 1fr);
height: 90vw;
vertical-align: center;
margin-left: 9vw;
margin-right: 8vw;
align-items: center;
margin-top: 5vw;
margin-bottom: 5vw;
gap: 3vw;

}

.skils i {
text-align: center;
color: white;
font-size: 10vw;
-webkit-filter: grayscale(0) blur(0px);
filter: grayscale(0) blur(0px);
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;

}

.skils i:hover {
  
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
  }

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.paginator2 {

  display: flex;
  flex-direction: row;
}

.paginator2 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator2 p:hover {
  color:  #c71212;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev2 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next2 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

#contact {
  background-image: linear-gradient(0deg, rgba(195, 34, 195, 0.904) 0%, rgba(135, 45, 253, 0.904) 50%), url(../img/purple.jpg);
  background-size: cover;
  display: none;
  flex-direction: column;
  height: 100vh;
}

#contact a {
  text-decoration: none;
  cursor: pointer;
}


.nav3 {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu3 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu3 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu3 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar3 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar3 p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  background-color: white;
}

.actiff3 p {
  color: rgba(135, 45, 253, 0.904);
  background-color: white;
}

.centre3 {
  height: 90vw;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 10vw;
  gap: 3vw;
}

.gti3 {
  width: 50%;
}

.centre4 {
  height: 90vw;
  vertical-align: center;
  display: none;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 10vw;
  gap: 3vw;
}

.gti4 {
  width: 50%;
}


.gti3 p {
  color: white;
  font-size: 5vw;
  text-align: center;
  border: double 0.5vw white;
}

.dti3 {
  width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
}

.dti3 img{
  width: 9vw;
margin-bottom: 2vw;
border: solid 3px white;
padding : 2vw;



}
.dti3 img:hover {

  background-color: rgba(128, 0, 128, 0.218);
}



.paginator3 {

  display: flex;
  flex-direction: row;
}

.paginator3 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev3 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next3 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

@media only screen and (max-width: 800px) {
  #home {
  display: none;
  flex-direction: column;
  height: 100vh;
}

#home h1 {
  color: white;
  font-size: 4.5vw;
}

#home h2 {
  color: white;
  font-size: 2vw;
  font-weight: 600;
}

#home h3 {
  color: white;
  font-weight: 500;
  font-size: 2vw;
}

.aa {
  color: white;
  font-size: 5vw;
  font-weight: 800;
  text-decoration: none;
}

.aa img{
  width: 10vw;
}

#home a {
  cursor: pointer;
}

#home a, h1, h2, h3 {
  animation: anim3 1900ms, anim 500ms 1900ms;
}

@-webkit-keyframes anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim2 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes anim3 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.purple a {
  margin-top: 0.1vw;
  border: 0.19vw solid white;
  font-size: 2vw;
  border-radius: 10vw;
  padding: 1vw;
}

.purple a:hover {
  background-color: rgba(255, 255, 255, 0.464);
}

.part2 {
  display: flex;
  flex-direction: column;
}

.purple {
  background: linear-gradient(0deg, rgba(207, 40, 40, 0.751) 0%, rgba(208, 41, 122, 0.827) 50%), url(../img/red.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 16.66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim 300ms 0s;
}

.blue {
  background: linear-gradient(0deg, rgba(34, 47, 195, 0.751) 0%, rgba(45, 184, 253, 0.827) 50%), url(../img/blue.jpg);
  background-size: cover;
  height: 16.66vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 300ms 0s, anim2 300ms 300ms;
}

.red {
  background: linear-gradient(0deg, rgba(41, 204, 136, 0.827) 0%, rgba(11, 176, 38, 0.855) 50%), url(../img/green.jpg);

  background-size: cover;
  width: 100%;
  min-height: 16.66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 600ms 0s, anim 300ms 600ms;
}

.green {
  background: linear-gradient(0deg, #c71212 0%, #c70e0ec6 50%), url(../img/pink.jpg);

  background-size: cover;
  height: 16.66vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 900ms 0s, anim2 300ms 900ms;
}

.pink {
  background-image: linear-gradient(0deg, rgba(195, 34, 195, 0.904) 0%, rgba(135, 45, 253, 0.904) 50%), url(../img/purple.jpg);
  
  background-size: cover;
  width: 100%;
  min-height: 16.66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1200ms 0s, anim 300ms 1200ms;
}

.grey {
  background: linear-gradient(0deg, rgba(68, 70, 70, 0.785) 0%, rgba(105, 87, 93, 0.801) 100%), url(../img/grey.jpg);
  background-size: cover;
  height: 16.66vh;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1500ms, anim2 300ms 1500ms;
}

.yellow {
  background: linear-gradient(0deg, rgba(191, 235, 70, 0.863) 0%, rgba(209, 231, 19, 0.77) 100%), url(../img/yellow.jpg);
  background-size: cover;
  height: 16.66vh;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: anim3 1800ms, anim 300ms 1800ms;
}


.part3 {
  display: flex;
  flex-direction: column;
}

.part4 {
  display: flex;
  flex-direction: column;
}

.part5 {
  display: flex;
  flex-direction: column;
}

.part6 {
  display: flex;
  flex-direction: row;
}


#propos {
  background: linear-gradient(0deg, rgba(34, 47, 195, 0.751) 0%, rgba(45, 184, 253, 0.827) 50%), url(../img/blue.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#propos a {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  display: none;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: none;
}

.menu p:hover {
  color: #00a5dc;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar p {
  margin-left: 3.7vw;
  font-size: 3.9vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar p:hover {
  color: rgba(45, 184, 253, 0.827);
  background-color: white;
}

.actiff p {
  color: rgba(45, 184, 253, 0.827);
  background-color: white;
}

.centre {
  height: 100%;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  gap: 3vw;
}

.gti {
  width: 70vw;
}

.gti img  {
  width: 100%;
  margin-top: 0vw;

}

.dti {
  margin-top: 2vw;
  margin-bottom: 5vw;
  width: 100%;
}

.dti p {
  color: white;
  font-size: 3vw;
}

.paginator {

  display: none;
  flex-direction: row;
}
.paginator1{

  display: none;
  flex-direction: row;
}
.paginator p {

  font-size: 10vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator p:hover {
  color: #00a5dc;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}


#projet {
  background: linear-gradient(0deg, rgba(41, 204, 136, 0.827) 0%, rgba(11, 176, 38, 0.855) 50%), url(../img/green.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#projet a {
  text-decoration: none;
  cursor: pointer;
}

.nav1 {
  display: none;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu1 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu1 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
  display: none;

}

.menu1 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar1 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar1 p {
  margin-left: 3.7vw;
  font-size: 3.9vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  background-color: white;
}



.jepro{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 0vw;
  margin-bottom: 10vw;
}

.njp{
  display: flex;
  flex-direction: row;
}

.njp p{
  text-align: center;
  font-size: 1.2vw;
  background-color: #ffffff4f;
  padding-top: 1vw ;
  padding-bottom: 1vw ;
  padding-left: 2vw;
  font-weight: 700;
  padding-right: 2vw;
  color: #ffff;
  cursor: pointer;


}

#roro:hover {
  background-color: #ffffff1f;
}
#stella:hover {
  background-color: #ffffff1f;
}
#github:hover {
  background-color: #ffffff1f;
}
#atout:hover {
  background-color: #ffffff1f;
}
#baby:hover {
  background-color: #ffffff1f;
}
#sohbi:hover {
  background-color: #ffffff1f;
}

.ijp {

  background-color: #ffffff4f;
  padding: 3vw;
  gap: 2vw;
}

.ijp img {
  width: 100%;
  height: 30vw;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.459);

}
.ijp p{
  font-size: 5vw;
  text-align: center;
  color: white;
  margin-bottom: 0.5vw;

}
.titi{
  font-size: 2vw !important;
  font-weight: 700 !important;
}

.linkk {
  text-align: center;
  margin-top: 2vw;
  font-size: 1.2vw;

}
.ijp a {

padding-left: 1vw;
padding-right: 1vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
background:  rgba(11, 176, 38, 0.855);
color: white;
}

.ijp a:hover {
  background:  rgba(11, 176, 38, 0.264);

}
#actife  {
  background-color: #ffff;
  color : #0bb026da;

 }

 #enl{
  display: flex;
  flex-direction: row;
  gap: 2vw;

 }

 #enl1{
  display: none;
}
#enl2{
  display: none;
}
#enl3{
  display: none;
}
#enl4{
  display: none;
}
#enl5{
  display: none;
}










.actiff1 p {
  color: rgba(41, 204, 136, 0.827);
  background-color: white;
}





.paginator {

  display: none;
  flex-direction: row;
}

.paginator1 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator1 p:hover {
  color: rgba(41, 204, 136, 0.827);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev1 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next1 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

#skill {
  background: linear-gradient(0deg, #c71212 0%, #c70e0ec6 50%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#skill a {
  text-decoration: none;
  cursor: pointer;
}

.nav2 {
  display: none;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu2 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu2 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu2 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu2 p:hover {
  color: #c71212;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar2 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar2 p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar2 p:hover {
  color:  #c71212;
  background-color: white;
}

.actiff2 p {
  color:  #c71212;
  background-color: white;
}

.skils  {
  display: grid;
grid-template-columns: repeat(2, 1fr);
height: 100%;
vertical-align: center;
margin-left: 9vw;
margin-right: 8vw;
align-items: center;
margin-top: 5vw;
margin-bottom: 5vw;
gap: 3vw;

}

.skils i {
text-align: center;
color: white;
font-size: 15vw;
margin-bottom: 10vw;
-webkit-filter: grayscale(0) blur(0px);
filter: grayscale(0) blur(0px);
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;

}

.skils i:hover {
  
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
  }

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.paginator2 {

  display: none;
  flex-direction: row;
}

.paginator2 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator2 p:hover {
  color:  #c71212;
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev2 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next2 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

#contact {
  background-image: linear-gradient(0deg, rgba(195, 34, 195, 0.904) 0%, rgba(135, 45, 253, 0.904) 50%), url(../img/purple.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#contact a {
  text-decoration: none;
  cursor: pointer;
}


.nav3 {
  display: none;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: flex-end;
}

.menu3 {
  position: absolute;
  left: 2vw;
  margin-top: 1.4vw;
}

.menu3 p {
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.menu3 p {
  box-shadow: inset 0 0 0 0 #d2f0f6;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.navbar3 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar3 p {
  margin-left: 2vw;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 0.2vw white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.navbar3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  background-color: white;
}

.actiff3 p {
  color: rgba(135, 45, 253, 0.904);
  background-color: white;
}

.centre3 {
  height: 100%;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 10vw;
  gap: 3vw;
}

.gti3 {
  width: 100%;
}

.centre4 {
  height: 100%;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 10vw;
  gap: 3vw;
}

.gti4 {
  width: 100%;
}

.gti4 p {
  color: white;
  font-size: 5vw;
  text-align: center;
  border: double 0.5vw white;
}

.gti3 p {
  color: white;
  font-size: 5vw;
  text-align: center;
  border: double 0.5vw white;
}

.dti3 {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
}

.dti3 img{
  width: 9vw;
margin-top: 10vw;
border: solid 3px white;
padding : 2vw;



}
.dti3 img:hover {

  background-color: rgba(128, 0, 128, 0.218);
}



.paginator3 {

  display: none;
  flex-direction: row;
}

.paginator3 p {

  font-size: 5vw;
  color: white;
  border: 0.2vw white solid;
}

.paginator3 p:hover {
  color: rgba(135, 45, 253, 0.904);
  box-shadow: inset 25vw 0 0 0 #ffffff;
}

.prev3 {
  position: absolute;
  left: 2vw;
  bottom:2vw;

}

.next3 {
  position: absolute;
  right: 2vw;
  bottom:2vw;

}

}